@model TechTest01.Domain.Catalog.Product

@{
    ViewBag.Title = string.Format("{0} - True Allance Online Shopping Store", Model.Name);
}

<div class="row">
    <div class="product-detail">
        <div class="col-xs-4 item-photo">
            <img style="max-width:100%;" src="@Model.ImageUrl" />
        </div>
        <div class="col-xs-5" style="border:0px solid gray">
            <h3>@Model.Name</h3>

            <h6 class="title-price"><small>Price</small></h6>
            <h3 style="margin-top:0px;">U$S @Model.Price</h3>



            <div class="section" style="padding-bottom:20px;">
                <h6 class="title-attr"><small>Qty</small></h6>
                <div>
                    <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                    <input value="1" />
                    <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                </div>
            </div>


            <div class="section" style="padding-bottom:20px;">
                <button class="btn btn-success" type="button" onclick="alert( 'This is a button without any functionality' );"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Add To Cart</button>
            </div>
        </div>

        <div class="col-xs-9">
            <ul class="menu-items">
                <li class="active">Description</li>
            </ul>
            <div style="width:100%;border-top:1px solid silver">
                <p style="padding:15px;">
                    <small>
                        @Model.Description
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>


