<div class="col-md-6 product">
    <a href="/product/@Model.Slug">
        <div class="img">
            <img src='@Model.ImageUrl' />
        </div>
        <div class="title col-md-6">
            <h4>@Model.Name</h4>
        </div>
        <div class="price col-md-6">
            <h4>@Model.Price</h4>
        </div>
    </a>
</div>