<div class="col-xs-6 col-md-4">
    <div class="product tumbnail thumbnail-3">
        <a href="@Url.RouteUrl("Product", new {slug = Model.Slug})"><img src="@Model.ImageUrl" alt=""></a>
        <div class="caption">
            <h6><a href="@Url.RouteUrl("Product", new {slug = Model.Slug})">@Model.Name</a></h6><span class="price">
            </span><span class="price sale">$@Model.Price</span>
        </div>
    </div>
</div>

